@keyframes idleOwl {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes arcFly {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(20vw, -50px);  /* Move right and slightly up */
  }
  50% {
      transform: translate(40vw, -100px); /* Peak of the arc */
  }
  75% {
      transform: translate(60vw, -50px);  /* Start descending */
  }
  100% {
      transform: translate(75vw, -10px); /* Fine-tune to match letterbox */
  }
}


  