.App {
  text-align: center;
  top: 20%;
}
.navbar {
  width: 100%;
  background-color: #b9c426;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.App-Body {
  background-color: #323428;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: rgb(213, 221, 196);
}

.Input {
  margin-top: 70px;
}

.input-section {
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:disabled {
  background-color: #a7f4b7;
  cursor: not-allowed;
}

.progress-section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.progress-section.visible {
  opacity: 1;
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease;
}

.animation-section {
  position: relative;
  margin-top: 40px;
}

.owl-image {
  width: 100px;
  position: absolute;
  top: 100px;
  left: 50%;
  animation: idleOwl 2s infinite alternate;
}

.owl-flying {
  /* animation: flyOwl 5s ease-in-out forwards; */
  position: relative;
  top: 50%;
  left: 50%;
  width: 80px;
  transform-origin: center center;
  animation: arcFly 3s linear forwards;
}

.letterbox {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  flex-direction: column; /* Stack text and image */
  align-items: center;
  text-align: center;
}


.letter-image {
  position: fixed;
  width: 80px;
  bottom: 20%;
  right: 50%;
}
