.App {
  text-align: center;
  top: 20%;
}

.navbar {
  width: 100%;
  background-color: #23434a;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.App-Body {
  background-color: #14272b;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(180, 232, 226);
}

h1 {
  color: whitesmoke;
  margin-top: 60px;
  margin-bottom: 150px
}

.input-label {
  font-size: 18px;
  color: rgb(180, 232, 226);
}

.input-field {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* Adjust width as needed */
  background-color: #23434a;
  color: white;
}

.input-section {
  display: flex;
  flex-direction: column; /* Stack the label+input and button vertically */
  align-items: center; /* Center-align the entire section */
  gap: 15px; /* Space between the input row and the button */
  margin-bottom: 20px;
}

.input-section-w {
  display: flex;
  flex-direction: row; /* Place label and input in one line */
  justify-content: center; /* Center align within the section */
  align-items: center; /* Align vertically in the row */
  gap: 10px; /* Space between label and input field */
}

.input-section-w label {
  font-size: 18px;
  color: rgb(180, 232, 226);
}

.input-section-w input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 150px; /* Standard width for input */
  background-color: #23434a;
  color: white;
}

.send-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #367c39;
}

.send-button:disabled {
  background-color: #a7f4b7;
  cursor: not-allowed;
}


.progress-section {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease;
}

.animation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 80%;
}

.owl-image {
  width: 100px;
  position: relative;
  animation: idleOwl 2s infinite alternate;
}

.letterbox {
  text-align: center;
}

.letter-image {
  width: 80px;
  margin-bottom: 10px;
}
